.header {
    .header-image {
        position: relative;
        height: 277px;

        @include media-breakpoint-up(md) {
            height: 496px;
        }

        .head-image-content {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 59px;

            @include media-breakpoint-up(md) {
                width: 89px;
                top: 40px;
                right: 40px;
            }
        }
    }

    // rectangle introduction box
    .rect-box {
        height: 256px;
        position: relative;

        @include media-breakpoint-up(md) {
            margin-top: -90px;
        }

        // cover
        .rect-over {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(theme-color('primary'), .8);
            transition: background-color .5s;
        }

        // image
        .rect-image {
            width: 100%;
            height: 100%;
            filter: blur(5px);
        }

        // text
        .rect-text {
            // text vertical layout
            writing-mode: vertical-rl;
            font-size: 24px;
            letter-spacing: 10px;
            color: #FFFFFF;
            // text center layout
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            // transform: translate(-50%, -50%);
            margin-top: -48px;
            margin-left: -12px;
        }

        // interactive
        &:hover,
        &:focus {
            .rect-over {
                background-color: rgba(theme-color('sharp'), .8);
            }

            .rect-image {
                filter: blur(0px);
            }

            .rect-text {
                color: #3F5D45;
                font-weight: bold;
            }
        }
    }
}